<launch>
    <arg name="kinematics_config" default="$(find launcher)/config/my_robot_calibration.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>
    <arg name="robot_ip" default="129.13.234.156" doc="IP address by which the robot can be reached."/>
    <arg name="limited" default="true"/>
    <arg name="endeffector" default="none" doc="What endeffector is installed. Current possibilities: 'none', 'tscan', 'zivid_and_gripper'."/>
    <arg name="type" default="none" doc="To select whether a dynamics simulator (sim), the real robot (real) or nothing (none, so just planning and reachibility computations possible) shall be loaded."/>
    <arg name="rviz" default="true" doc="Whether to show the RVIZ-planning environment (planning via MoveIt!-interfaces does not require this panel!)."/>
    <arg name="gripper_usb_configuration" default="/dev/ttyUSB0" doc="Port at which the serial device for the gripper is connected to. Get config via command 'dmesg | grep tty'."/>

    <param name="/execution_type" value="$(arg type)"/>
    
    <!--Launch real robot druver-->
    <include if="$(eval arg('type') == 'real')" file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="kinematics_config" default="$(arg kinematics_config)"/>
        <arg name="robot_ip" default="$(arg robot_ip)"/>
        <arg name="limited" default="true"/>
    </include>
    <group if="$(eval arg('type') == 'real' and arg('endeffector') == 'zivid_and_gripper')">
      <node ns="zivid_camera" name="zivid_camera_node" type="zivid_camera_node" pkg="zivid_camera" output="screen"/>
      <node name="robotiq2FGripper" type="Robotiq2FGripperRtuNode.py" pkg="robotiq_2f_gripper_control" output="screen" args="$(arg gripper_usb_configuration)"/>
    </group>
    <!--Launch simulator robot driver-->
    <include if="$(eval arg('type') == 'sim')" file="$(find coppeliasim_interface)/launch/connect_to_coppeliasim.launch">
        <arg name="enable_tscan" value="$(eval arg('endeffector') == 'tscan')"/>
    </include>


  <group if="$(eval arg('type')=='none')">

    <!-- We do not have a robot connected, so publish fake joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/> 
      <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
    </node>
    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  </group>
  <node name="fixture_controller" type="fixture_controller.py" pkg="fixture" output="screen"/>
  <!-- Launch MoveIt planner -->
  <include file="$(find ur10_e_moveit_config)/launch/ur10_e_moveit_planning_execution.launch">
    <arg name="sim" default="$(eval arg('type')!='real')" />
    <arg name="limited" default="$(arg limited)"/>
    <arg name="fake_execution" default="$(eval arg('type')=='none')"/>
    <arg name="endeffector" default="$(arg endeffector)"/>
  </include>
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find ur10_e_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" default="true"/>
    <arg name="debug" default="false"/>
  </include>
 

</launch>
