<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
  name="ur10e" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur10e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur10e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur10e_default.yaml"/>
  <!-- Use numerical values instead of "pi" to assert coherence with the joint_limits.yaml -->
  <xacro:ur10e_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="-6.283" shoulder_pan_upper_limit="6.283"
    shoulder_lift_lower_limit="-3.14"    shoulder_lift_upper_limit="0.52"
    elbow_joint_lower_limit="-2.9"    elbow_joint_upper_limit="0.1"
    wrist_1_lower_limit="-6.283"      wrist_1_upper_limit="6.283"
    wrist_2_lower_limit="-6.283"      wrist_2_upper_limit="6.283"
    wrist_3_lower_limit="-6.283"      wrist_3_upper_limit="6.283"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
    />


   <!-- added by Adem, modified by Sven -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="wbk_green">
    <color rgba="0.0 0.59 0.51 1"/>
  </material>
  
  <link name="table">
    <visual>
      <geometry>
        <box size="1 1 0.9"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="1 1 0.9"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_base" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
    <origin xyz="0.36 0.36 0.45" rpy="0 0 0" />
  </joint>

  <!-- See corresponding Bachelor Thesis for the origin of these numbers / geometries / ... -->
  <link name="laser_scanner">
    <visual>
      <geometry>
        <mesh scale="0.001 0.001 0.001" filename="package://ur_e_description/meshes/custom/zeiss_tscan_visual.stl" />
      </geometry>
      <material name="wbk_green"/>
      <!-- Those parameters have been optimized heuristically so that the visual model is apprx. enclosed by the collision model-->
      <origin rpy="0 -1.5707963267948966 -1.5707963267948966" xyz="-0.05 0 0.013"/>  
    </visual>

    

    <!--Handle-->
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.083"/>
      <geometry>
        <box size="0.125 0.052 0.058"/>     
      </geometry>
      <material name="wbk_green"/>
    </collision>
    <!--Body-->
    <collision>
      <origin rpy="0 0 0" xyz=" 0.155 0.0 0.09"/>
      <geometry>
        <box size="0.185 0.16 0.18"/>     <!--size="0.23 0.09 0.15" -->
      </geometry>
      <material name="wbk_green"/>
    </collision>
  </link>
  
  <joint name="scanner_connection" type="fixed">
    <parent link="tool0"/>
    <child link="laser_scanner"/>
    <origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
  </joint>
  
  <link name="laser_emitter_frame" ></link>
  <joint name="scanner_internal" type="fixed">
    <parent link="laser_scanner"/>
    <child link="laser_emitter_frame"/>
    <origin xyz="0.1665 0.0 0.14318" rpy="0 0 0"/>
  </joint>


  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "table" />
    <origin xyz="0.5 -0.5 0.45" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
