<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
  name="ur10e" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur10e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur10e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur10e_default.yaml"/>
  <xacro:ur10e_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
    />


   <!-- added by Adem, modified by Sven -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="wbk_green">
    <color rgba="0.0 0.59 0.51 1"/>
  </material>
  
  <link name="table">
    <visual>
      <geometry>
        <box size="1 1 1.1"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="1 1 1.1"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_base" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
    <origin xyz="0.36 0.36 0.55" rpy="0 0 0" />
  </joint>

  <link name="laser_scanner">
    <visual>
      <geometry>
        <box size="0.15 0.3 0.17"/>
      </geometry>
      <material name="wbk_green"/>
      <origin rpy="0 0 0" xyz="0.00 0.075 0.086"/>  <!--tiny offset to ensure friction-absence -->
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.08 0.095"/>
      <geometry>
        <box size="0.17 0.32 0.19"/>     <!--size="0.23 0.09 0.15" -->
      </geometry>
    </collision>
  </link>
  
  <joint name="scanner_connection" type="fixed">
    <parent link="tool0"/>
    <child link="laser_scanner"/>
    <origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
  </joint>
  <link name="scanner_focus" ></link>
  <joint name="scanner_internal" type="fixed">
    <parent link="tool0"/>
    <child link="scanner_focus"/>
    <origin xyz="0 0.15 0.171" rpy="0 0 1.5707963"/>
  </joint>

 <!--added: END       <origin xyz="${-(0.125/2)-(0.11/2)} -0.01 0" rpy="0 0 ${pi/2}" /> -->


  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "table" />
    <origin xyz="0.5 -0.5 0.55" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
